<ion-header>

  <ion-navbar>
    <ion-title>Profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="row" >
    <div class="col" >  Prénom : </div>
    <div class="col" >  {{ profilDB.firstName }} </div>
  </div>
  <div class="row" >
    <div class="col" >  Nom : </div>
    <div class="col" >  {{ profilDB.lastName }} </div>
  </div>
  <div class="row" >
    <div class="col" >  Date de naissance : </div>
    <div class="col" >  {{ profilDB.birthday }} </div>
  </div>
  <div class="row" >
    <div class="col" >  Genre : </div>
    <div class="col" >  {{ profilDB.sex }} </div>
  </div>
</ion-content>
