<ion-header>

  <ion-navbar hideBackButton>
      <ion-buttons end>
        <button ion-button icon-only (click)="addList()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
          <button ion-button icon-only (click)="sharedList()">
            <ion-icon name="people"></ion-icon>
         </button>
      </ion-buttons>  
      <ion-buttons start>
          <button ion-button icon-only (click)="logOut()" color="Greycol">
            <ion-icon name="power"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons start>
        <button ion-button icon-only (click)="showProfil()" color="Greycol">
          <ion-icon name="contact"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list inset>
        <ion-item-sliding *ngFor="let item of lists">
          <button ion-item  (click)="listSelected(item)">
          <ion-avatar item-start>
              <img src= "{{item.photo}}">
          </ion-avatar> 
          {{ item.name }} <!--<b>({{ item.items.length }} {{ item.photo }})</b>-->
          </button>
          
          <ion-item-options side="left">
              <button ion-button icon-only item-end color="ClearBlue" (click)="shareList(item)">
                  <ion-icon name="share"></ion-icon>
              </button>
          </ion-item-options>

          <ion-item-options side="right">
              <button ion-button icon-only item-end color="primary" (click)="modifList(item)">
                  <ion-icon name="create"></ion-icon>
              </button>
              <button ion-button icon-only item-end color="secondary" (click)="selectPhoto(item)">
                <ion-icon name="camera"></ion-icon>
              </button>
              <button ion-button icon-only item-end color="danger" (click)="deleteListConfirm(item)">
                <ion-icon name="trash"></ion-icon>
              </button>
          </ion-item-options>

    </ion-item-sliding>  
  </ion-list>
</ion-content>

