page-home {
   .background{
       background-image: url('../assets/imgs/liste_background.jpg');
   }

   .scroll-content{
       align-content: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
   }

   ion-card.card{
       box-shadow: none;
       background: rgba(0,0,0,0.5);
       border-radius: 5px;
   }
   a,
   ion-card-header.card-header{
       color: white;
   }

   .item{
       margin-bottom: 10px;
       border: none;
   }

   .icon{
       padding-right: 5px;
   }
}
