

<ion-content class="background">
  <ion-card>
      <ion-card-header>
          <b>My Todo-App</b>
      </ion-card-header> 
      <ion-card-content>
          <ion-list no-line>
            <ion-item>
              <ion-input type = "text" placeholder="Login" [(ngModel)]="login"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type = "password" placeholder="Mot de Passe" [(ngModel)]="mdp"></ion-input>
            </ion-item>
          </ion-list>
          <a>Mot de passe oublié ?</a>
          <div class="row" >
              <div class="col" ></div>
              <div class="col" >
                  <button ion-button round color="dark" (click)="showTodoPage(login,mdp)">Connexion</button>
              </div>
              <div class="col" ></div>
          </div>
          
          <button ion-button full color color="Google" (click)="loginGoogle()">
            <ion-icon name="logo-google"></ion-icon>Connexion via Google
          </button>
          <button ion-button full color="Facebook">
            <ion-icon name="logo-facebook"></ion-icon>Connexion via Facebook
          </button>
      </ion-card-content> 
  </ion-card>
  <div class="row" >
      <div class="col" ></div>
      <div class="col" >
          <button ion-button round color="dark" (click)="createUser()">Creer un nouveau compte</button>
      </div>
      <div class="col" ></div>
     
  </div>
</ion-content>
