<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons start>
        <button ion-button icon-only (click)="backToList()" color="Greycol">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end>
          <button ion-button icon-only (click)="addItem()">
            <ion-icon name="add"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list inset>
        <ion-item-sliding *ngFor="let item of items">
            <ion-item>
                <ion-card>
                    <ion-card-header>
                        {{ item.name }}
                    </ion-card-header>
                    <ion-card-content>
                        <b><p>State : {{ item.complete ===true ? 'Finished' : 'Unfinished' }}</p></b>
                        <p>{{ item.desc }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button icon-only item-end color="secondary" (click)="finishTask(item)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                    <button ion-button icon-only item-end color="primary" (click)="modifItem(item)">
                          <ion-icon name="create"></ion-icon>
                    </button>
                    <button ion-button icon-only item-end color="danger" (click)="deleteItemConfirm(item)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
            </ion-item-options>
            
        </ion-item-sliding>  
    </ion-list>
</ion-content>